<div class="section">
  <h1>Get you free eBook!</h1>
  <form id="form">
    <div class="form-component form-input">
      <label for="email">Please input your email</label>
      <input type="email" placeholder="Email" class="form-control" id="email" required />
    </div>
    <div class="form-component form-input">
      <label for="postcode">Please input your postcoe</label>
      <input type="text" placeholder="Postcode" class="form-control" id="postcode" name="postcode" required/>
    </div>
    <div class="form-component form-button">
      <button class="btn btn-primary" type="submit">Get!</button>
    </div>
  </form>
  <div class="congrats">
    <%#= image_tag("flora02.png") %>
    <div><%= image_tag("flora03.png") %></div>

    <%#= image_tag("flora04.png") %>
  </div>
</div>