<div class="section">
  <div class="slide" data-anchor="slide1">
    <%= image_tag("flora02.png") %>
  </div>
  <div class="slide" data-anchor="slide2">
    <%= image_tag("flora03.png") %>
  </div>
  <div class="slide" data-anchor="slide3">
    <%= image_tag("flora04.png") %>
  </div>
  <div class="slide" data-anchor="slide4">
    <%= image_tag("flora05.png") %>
  </div>
</div>