<div data-0="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);"
     data-500="background-color:rgb(255,0,0);transform[bounce]:rotate(0deg);" style="height: 100%">WOOOT</div>

<div data-500="background-color:rgba(0,0,0,0.5);transform[bounce]:rotate(0deg);opaticy: 0.5"
     data-1000="background-color:rgba(0,0,0,1);transform[bounce]:rotate(0deg);opaticy: 0.5" style="height: 500px">WOOOT</div>